POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=carpet_matcher
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_with_local_password
IMAGE_ENCODER=open_clip
CLIP_MODEL_NAME=ViT-B-32
CLIP_PRETRAINED=openai
MODEL_DEVICE=auto
CLIP_CACHE_DIR=.cache/open_clip

